<div class="row">
  <%= simple_form_for(@item) do |f| %>
    <%= f.error_notification %>
    <div class="col-sm-4">
      <div class="form-inputs" class="col-sm-4">
        <%= f.input :sku %>
        <%= f.input :master_price %>
        <%= f.input :cost_price %>
        <%= f.input :note %>
        <%= f.association :supplier %>
        <%= f.collection_radio_buttons :state, [["new", "New"] ,["sold", "Sold"], ["reparing", "Repairing"]], :first, :last, wrapper_html: {id: "xxx"} %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-inputs" class="col-sm-4">
        <%= f.nested_fields_for :materials do |ff| %>
          <div class="row">
            <%= ff.input :name, wrapper_html: { class: 'col-xs-8' } %>
            <%= ff.association :supplier, wrapper_html: { class: 'col-xs-4' } %>
          </div>
          <div class="row">
            <%= ff.input :weight, wrapper_html: { class: 'col-xs-4' } %>
            <%= ff.input :amount, wrapper_html: { class: 'col-xs-4' } %>
            <%= ff.input :price, wrapper_html: { class: 'col-xs-4' } %>
          </div>
          <!-- <%= ff.input :note %> -->
          <%= ff.remove_nested_fields_link('Remove', class: 'btn btn-danger', role: 'button') %>
          <hr>
        <% end %>
        <%= f.add_nested_fields_link(:materials, 'Add Material', class: 'btn btn-primary', role: 'button') %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    </div>
  <% end %>
</div>
