<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<table class="table">
  <thead>
    <tr>
      <th>Sku</th>
      <th>Master price</th>
      <th>Cost price</th>
      <th>Note</th>
      <th>Supplier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.sku %></td>
        <td><%= item.master_price %></td>
        <td><%= item.cost_price %></td>
        <td><%= item.note %></td>
        <td><%= item.supplier.name %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path, class: "btn btn-primary" %>
