<%= simple_form_for(@material) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :weight %>
    <%= f.input :amount %>
    <%= f.input :price %>
    <%= f.input :note %>
    <%= f.association :item %>
    <%= f.association :supplier %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
