<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @material.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @material.weight %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @material.amount %>
</p>

<p>
  <strong>Price:</strong>
  <%= @material.price %>
</p>

<p>
  <strong>Note:</strong>
  <%= @material.note %>
</p>

<p>
  <strong>Item:</strong>
  <%= @material.item %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @material.supplier %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
